version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: lng-web
    ports:
      - "3009:3009"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
      - PORT=3009
    restart: always
